{
    "printWidth": 110,
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "importOrder": ["^react(.*)$", "^@react(.*)$", "^expo(.*)$", "^@/(.*)$", "^[./]"],
    "importOrderSortSpecifiers": true
}
